<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
</head>
<body>
    <h1>Add a New Project</h1>
    <form action="/addProject" method="POST">
        <label for="name">Project Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="start_date">Upload Date:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <!-- <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br><br> -->

        <button type="submit">Add Project</button>
    </form>
</body>
</html>
